.flex_row {
  display: flex;
  flex-wrap: wrap;
}

.mainheading {
  margin: 5px;
  justify-content: space-evenly;
  align-items: center;
}

#api {
  margin-right: 10px;
  margin-left: 10px;
}

#progress {
  margin-right: 10px;
  margin-left: 10px;
}

div.col-md-2, div.col-md-6 {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.top {
  padding-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.rowhover:hover {
  background-color: lightgrey;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.json {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.visual {
  width: 50%;
}

#validateParent, #validateChild {
  margin-left: 20px;
}

.noPadding {
  padding: 0 !important;
  margin: 0 !important;
}

.w-95 {
  width: 95% !important;
}

#loading-time, #record-limit {
  background-color: yellow;
  margin: 5px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

#grad {
  background-image: linear-gradient(to right, rgba(113,203,242,0.8), rgba(226,20,131,0.8));
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;
  padding: 5px;
  border-radius: 8px 8px 0px 0px;
}

#summaryPanel {
  min-height: 480px !important;
  position: relative;
  bottom: 0;
  overflow-y: auto;
}

.sparkboxes .box {
  padding: 3px 0 0 0;
  position: relative;
  height: 300px !important;
}

#apexchart5a, #apexchart5b {
  position: relative;
  height: 150px !important;
}

#spark1, #spark2, #spark3, #spark4, #spark5, #spark6, .explainer {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.filter {
  display: flex;
  justify-content: center;
}

/* overrides */
.sparkboxes #apexcharts-subtitle-text { fill: #8799a2 !important; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#map { height: 1000px; }
