#api {
  height: 150px;
  overflow-y: scroll;
  position: relative;
  bottom: 0;
}

.mainheading {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 3%;
}

.rowhover:hover {
  background-color: lightgrey;
}

.graph {
  text-align: left;
  width: 85vh;
  height: 85vw;
}

.noPadding {
  padding: 0 !important;
  margin: 0 !important;
}
.w-95 {
  width: 95% !important;
}

#loading-time {
  background-color: yellow;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

#grad {
  background-image: linear-gradient(to right, rgba(113,203,242,0.5), rgba(226,20,131,0.5));
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  padding: 5px;
}

#summary {
  height: 150px;
  position: relative;
  bottom: 0;
  overflow-y: scroll;
}

.sparkboxes .box {
  padding: 3px 0 0 0;
  position: relative;
}

#spark1, #spark2, #spark3, #spark4 {
  position: relative;
  padding-top: 15px;
}

/* overrides */
.sparkboxes #apexcharts-subtitle-text { fill: #8799a2 !important; }
